#widget27 #body_check{
    margin: 0px auto;
    background: url(../img/0.jpg) 0 0 no-repeat;
}
#widget27 .find{
    margin: 0px auto;
    background: url(../img/1.jpg) 0 0 no-repeat!important;
}